@import url('https://fonts.googleapis.com/css?family=Julius+Sans+One');

:root {
  --primary-color: #2A9FB9;
  --green: #2AB952;
  --black: #000000;
  --white: #FFFFFF;
  --green-message: #6CDD99;
  --primary-font: 'Julius Sans One',
    sans-serif;
}
body{
  background-color: var(--black);
  color: var(--white);
}